body {
    background-color: #333;
    color: #ddd;
}
.box {
    width: 1000px;
    height: 500px;
    border: 5px solid gold;

    /* border-radius: 500px; */

    background-color: whitesmoke;
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    background-position: center;

    /* background-attachment: fixed; */
}
